<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BongoCat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BongoCat.Properties.Settings>
            <setting name="defaultRight" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Z</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="defaultLeft" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>X</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="defaultMouse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultTable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultBackground" serializeAs="String">
                <value>128, 255, 255</value>
            </setting>
            <setting name="defaultInstrument" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="pianoTable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pianoKey1" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="pianoKey2" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="pianoKey3" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="pianoKey4" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="pianoKey5" serializeAs="String">
                <value>J</value>
            </setting>
            <setting name="pianoKey6" serializeAs="String">
                <value>K</value>
            </setting>
            <setting name="pianoKey7" serializeAs="String">
                <value>L</value>
            </setting>
            <setting name="pianoKey8" serializeAs="String">
                <value>Oem1</value>
            </setting>
            <setting name="pianoBackground" serializeAs="String">
                <value>128, 255, 255</value>
            </setting>
        </BongoCat.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>